<h3 class="title-page">Todas as Votações</h3>
<ul class="cards">
    <li class="cards__item">
        <div class="card">
            <div class="card__content">
                <div class="card__title">Votação 1</div>
                <p class="card__text">Descrição da Votação, flex-shrink and flex-basis combined. The second and third
                    parameters (flex-shrink and flex-basis) are optional. Default is 0 1 auto. </p>
                <div class="opcoes-votacao">
                    <p>Opção 1</p>
                    <div class="opcao-bar" style="width: 42% ;">42%</div>
                    <p>Opção 2</p>
                    <div class="opcao-bar" style="width: 55% ;">55%</div>
                    <p>Opção 3</p>
                    <div class="opcao-bar" style="width: 12% ;">12%</div>
                </div>
                <div class="dados">
                    <p>17/07/2022</p>
                    <p>28/07/2022</p>
                    <p>Ativa</p>
                </div>
                <button class="btn btn--block card__btn">Ver mais</button>
            </div>
        </div>
    </li>
    <li class="cards__item">
        <div class="card">
            <div class="card__content">
                <div class="card__title">Votação 2</div>
                <p class="card__text">This defines the ability for a flex item to grow if necessary. It accepts a
                    unitless value that serves as a proportion. It dictates what amount of the available space inside
                    the flex container the item should take up.</p>
                <div class="opcoes-votacao">
                    <p>Opção 1</p>
                    <div class="opcao-bar" style="width: 42% ;">42%</div>
                    <p>Opção 2</p>
                    <div class="opcao-bar" style="width: 58% ;">58%</div>
                </div>
                <div class="dados">
                    <p>16/07/2022</p>
                    <p>23/07/2022</p>
                    <p>Ativa</p>
                </div>
                <button class="btn btn--block card__btn">Ver mais</button>
            </div>
        </div>
    </li>
    <li class="cards__item">
        <div class="card">
            <div class="card__content">
                <div class="card__title">Votação 3</div>
                <p class="card__text">This defines the ability for a flex item to shrink if necessary. Negative numbers
                    are invalid.</p>
                <div class="opcoes-votacao">
                    <p>Opção 1</p>
                    <div class="opcao-bar" style="width: 34% ;">34%</div>
                    <p>Opção 2</p>
                    <div class="opcao-bar" style="width: 41% ;">41%</div>
                    <p>Opção 3</p>
                    <div class="opcao-bar" style="width: 25% ;">25%</div>
                </div>
                <div class="dados">
                    <p>9/07/2022</p>
                    <p>17/07/2022</p>
                    <p>Finalizada</p>
                </div>
                <button class="btn btn--block card__btn">Ver mais</button>
            </div>
        </div>
    </li>
    <li class="cards__item">
        <div class="card">
            <div class="card__content">
                <div class="card__title">Votação 4</div>
                <p class="card__text">This defines the default size of an element before the remaining space is
                    distributed. It can be a length (e.g. 20%, 5rem, etc.) or a keyword. The auto keyword means "look at
                    my width or height property."</p>
                <div class="opcoes-votacao">
                    <p>Opção 1</p>
                    <div class="opcao-bar" style="width: 42% ;">42%</div>
                    <p>Opção 2</p>
                    <div class="opcao-bar" style="width: 58% ;">58%</div>
                </div>
                <div class="dados">
                    <p>10/07/2022</p>
                    <p>15/07/2022</p>
                    <p>Finalizada</p>
                </div>
                <button class="btn btn--block card__btn">Ver mais</button>
            </div>
        </div>
    </li>
</ul>