<h3>Login</h3>
<section class="usuários">
    <form class="votacao" action="/login" method="post">
        <label for="login">Login:</label>
        <input required type="text" name="login" id="">
        <label for="senha">Senha:</label>
        <input required name="senha" type="password">
        <input type="submit" value="Logar">
    </form>
</section>