<h3 class="title-page">Votação</h3>
<section class="usuários">
    <form class="votacao" action="/criar" method="post">
        <label for="titulo">Nome da votação:</label>
        <input required type="text" name="titulo" id="">
        <label for="descricao">Descrição da votação:</label>
        <textarea required name="descricao"></textarea>
        <label for="duracao">Duração (dias):</label>
        <input required name="duracao" value="0" type="number">
        <input type="submit" value="Criar">
    </form>
</section>

