*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #f0f0f0;
}

body {
  color: #999999;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  background: #33334d;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.btn {
  background-color: white;
  border: 1px solid #cccccc;
  color: #696969;
  padding: 0.5rem;
}

.btn--block {
  display: block;
  width: 80%;
  margin: auto;
  border-radius: 10px;
  background-color: #33334d;
  color: #fff;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 300px;
}

.cards__item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards__item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards__item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-width: 300px;
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.card__title {
  color: #696969;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}


.dados {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.opcao-bar {
  background-color: aquamarine;
  padding: 5px;
  border-radius: 8px;
  color: #333;
}

.title-page{
  text-align: center;
  color: #fff;
  text-transform: uppercase; 
}